.b_extended_profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gcconnex-profile-name {
/*    padding-bottom: 20px; */
    height: 36px;
}

#english_expiry,
#french_expiry {
    width: 100px;
    margin-right: 10px;
}

.gcconnex-profile-name h1 {
    float: left;
}

.gcconnex-basic-profile-actions,
.gcconnex-basic-profile-edit {
    top: 5px;
    position: relative;
    margin-left: 10px;
}

.gcconnex-profile-social-media-links {
    padding-top: 10px;
}

.gcconnex-profile-contact-info {
    padding-top: 5px;
}

.gcconnex-profile-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    background: #3c698e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.gcconnex-profile-button:hover {
    background: #507D9E;
    text-decoration: none;
}


.gcconnex-profile-wire-post {
    margin-top: 15px;
}

.gcconnex-profile-wire-post .elgg-border-plain {
    border: none;
}
.gcconnex-profile-wire-post img {
    float: left;
    height: 50px;
    width: 50px;
}
/*
 * Styling for the message box that displays old skills to users for re-entry
 */

.gcconnex-old-skills {
    min-height: 20px;
    padding: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FAEBCC;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

}

.gcconnex-old-skills-display {
    padding-left: 15px;
}

.gcconnex-old-skills-message {
    padding-bottom: 10px;
}

.gcconnex-endorsements-count {
    float: left;
    min-width: 20px;
    height: 28px;
    background-color: #3C698E;
    font-family: arial, sans-serif;
    color: white;
    padding: 3px 3px 3px 3px;
    text-align: center;
    border: 0px solid cornflowerblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid lightgray;
    box-shadow: 7px 3px 5px #888888;
    text-shadow: 1px 1px #888888;
}

.gcconnex-skill-entry {
    display: inline-block;
    width: 100%;
    height: 28px;
    margin-bottom: 8px;
}

.gcconnex-profile-skills-display,
.gcconnex-profile-languages-display {
    padding-top: 20px;
}

.gcconnex-profile-language-official-languages {
    margin: 10px;
}

.gcconnex-skill-endorsements {
    float: right;
}

.gcconnex-endorsements-skill {
    float: left;
    min-width: 75px;
    max-width: 255px;
    height: 28px;/* 18px*/
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: arial, sans-serif;
    background-color: darkgray;
    color: white;
    padding: 3px 6px 3px 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 3px 5px #888888;
    margin-left: 0px;
}

.gcconnex-endorsement-add {
    margin-left: 10px;
}

.gcconnex-endorsement-retract {
    margin-left: 10px;
}

.gcconnex-endorsement-add.elgg-button,
.gcconnex-endorsement-retract.elgg-button {
    padding: 3px;
}
.gcconnex-endorsements-add-skill {
    color: #3C698E;
    text-shadow: 1px 1px #888888;
    font-family: arial;
    font-size: 12px;
    clear: left;
    padding: 3px 3px 3px 5px;
    margin: 0px;
    cursor: pointer;
}

.gcconnex-skills-entry,
.gcconnex-languages-entry,
.gcconnex-experience-entry,
.gcconnex-publications-entry,
.gcconnex-projects-entry,
.gcconnex-education-entry,
.gcconnex-certification-entry,
.gcconnex-mooc-entry,
.gcconnex-work-experience-entry,
.gcconnex-portfolio-entry {
    /*margin: 8px;*/
    float: left;
    background-color: #ADD8E6;/*lightgray*/
    padding: 15px;
    border-radius: 5px;
}

input.pessek-endorsements-input-skill,
input.userfind {
    display: block;
    clear: left;
    border: 1px solid lightgray;
    box-shadow: 1px 1px darkgray;
    border-radius: 5px;
    width: 300px;
}

input.gcconnex-endorsements-input-skill{
    display: block;
    clear: left;
    border: 1px solid lightgray;
    box-shadow: 1px 1px darkgray;
    border-radius: 5px;
    width: 500px;
}

input.gcconnex-endorsements-input-coauthor{
    display: block;
    clear: left;
    border: 1px solid lightgray;
    box-shadow: 1px 1px darkgray;
    border-radius: 5px;
    width: 500px;
}

.gcconnex-endorsements-input-wrapper {
    margin-top: 10px;
}

.pessek-endorsements-input-wrapper {
    margin-top: 10px;
}

.gcconnex-endorsements-skill-wrapper {
    padding-top: 10px;
}

.delete-skill {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

.delete-skill-img {
    float: left;
    height: 15px;
    width: 15px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    /*
    padding-left: 10px;
    padding-right: 5px;*/
}

.delete-skill-pessek {
    float: left;
    height: 23px;
    position: relative;
    margin-left: 15px;
    margin-right: 10px;
}

.temporarily-added .gcconnex-endorsements-skill {
    background-color: #FFA500;
}

/*
.edit-png {
    background: url('../img/edit.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}*/



/* about me */
.about-me-longtext {
    width: 98%;
}

.gcconnex-profile-about-me-display {
    padding-top: 10px;
}

.nav.elgg-menu.elgg-menu-longtext.elgg-menu-hz.elgg-menu-longtext-default {
    display: none;
}

.gcconnex-about-me-edit-wrapper {
    padding-top: 10px;
}



/* education */
.gcconnex-profile-experiences-display,
.gcconnex-profile-internships-display,
.gcconnex-profile-volunteers-display,
.gcconnex-profile-projects-display,
.gcconnex-profile-publications-display,
.gcconnex-profile-mooc-display,
.gcconnex-profile-education-display,
.gcconnex-profile-certification-display,
.gcconnex-profile-work-experience-display,
.gcconnex-profile-languagess-display,
.gcconnex-profile-description-display,
.gcconnex-profile-portfolio-display {
    padding-bottom: 10px;
}

.work-experience-title,
.education-school {
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 2px;
}

.work-experience-dates,
.education-dates {
    font-size: 10px;
    width: auto;
    border-bottom: 1px solid #d3d3d3;
    line-height: 12px;
    padding-top: 7px;
}

.publication-line-after-author {
    width: 500px;
    border-bottom: 1px solid #d3d3d3;
    line-height: 12px;
    margin-left: 0px;
}

.education-degree ul {
    padding-left: 15px;
}

.education-degree li {
    list-style: disc;
    padding-left: 0px;
    font-weight: bold;
}

.education-field {
    padding-left: 20px;
    font-style: italic;
}

.gcconnex-work-experience-organization,
.gcconnex-work-experience-title {
    width: 300px;
}

.gcconnex-work-experience-responsibilities {
    width: 98%;
}

.work-experience-organization {
    font-weight: bold;
    padding-bottom: 10px;
}

.gcconnex-profile-section-frame-wrapper {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    background-color: #eeeeee;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.gcconnex-profile-title {
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    /*text-shadow: 1px 1px darkgray;*/
    padding: 5px;
    background-color: #60B8F7;/*#3C698E*/
    border: 1px solid lightgray;
    box-shadow:0 0 10px #999;
    font-weight: bold;
    border-radius: 8px;
    min-width: 100px;
    left: 10px;
    color: white;
    z-index: 1;
    position: absolute;
    margin-top: -32px;
}

.edit-control img,
.save-control img,
.cancel-control img {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.cancel-control.cancel-hover {
    background-color: #FFA500;
    color: #FFF;
}

.save-control.save-hover {
    background-color: #78ab46;
    color: white;
}

.edit-control.edit-hover {
    background-color: #C1CDCD;
}

.gcconnex-profile-edit-controls {
    float: right;
    position: relative;
    margin-top: -20px;
    margin-right: -11px;
}

.edit-control,
.save-control,
.cancel-control {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #3C698E;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
    position: relative;
    background-color: rgb(208, 208, 208);
    border-left: 1px solid darkgray;
}

.edit-control,
.cancel-control {
    border-top-right-radius: 5px;
    border-bottom: 1px solid darkgray;
}

.save-control {
    border-top: 1px solid darkgray;
    border-bottom-right-radius: 5px;
}


.b-user-menu {
    display: inline;
    float: right;
    border-left: 3px solid #EEE;
    height: 250px;
    padding-top: 5px;
}

.b-user-menu-title {
    background: none repeat scroll 0% 0% #3C698E;
    color: #FFF;
    text-decoration: none;
    border-radius: 0 5px 0 0;
    margin-top: -5px;
    padding: 5px 15px;
}

.profile-content-menu a {
    color: #808080;
}
.profile-content-menu li > a:hover {
    border-left: 3px solid #3C698E;
    text-decoration: none;
    border-radius: 0px;
    background: none repeat scroll 0% 0% #EEE;
    color: black;
}

.profile {
    float: none;
}

#profile-details {
    padding-bottom: 5px;
    float: left;
    display: inline;
    width: 45%;
}

.elgg-input-text[name='name'],
.elgg-input-text[name='Title'],
.elgg-input-text[name='diploma'],
.elgg-input-text[name='skill'],
.elgg-input-text[name='langs'],
.elgg-input-text[name='place'],
.elgg-input-text[name='companyname'],
.elgg-input-text[name='jobtitle'],
.elgg-input-text[name='education'],
.elgg-input-text[name='editor'],
.elgg-input-text[name='thetitle'],
.elgg-input-text[name='function'],
.elgg-input-text[name='mooc'],
.elgg-input-text[name='certification'],
.elgg-input-text[name='authority'],
.elgg-input-text[name='licence'],
.elgg-input-text[name='portfolio']
{
    width: 500px;
}

.elgg-input-url[name='Website'],
.elgg-input-text[name='Email'],
.elgg-input-text[name='linkedin'],
.elgg-input-text[name='Facebook'],
.elgg-input-text[name='GooglePlus'],
.elgg-input-text[name='github'],
.elgg-input-text[name='twitter'],
.elgg-input-text[name='pinterest'],
.elgg-input-text[name='tumblr'],
.elgg-input-text[name='instagram'],
.elgg-input-text[name='flickr'],
.elgg-input-text[name='youtube'],
.elgg-input-text[name='Phone'],
.elgg-input-text[name='Mobile'],
.elgg-input-text[name='email']
{
    width: 250px;
}

.elgg-input-longtext[name='descriptionname']
{
    width: 300px;
}

.elgg-input-text[name='country']{
    width: 490px;
}
.elgg-input-text[name='place']
{
    width: 235px;
}

.elgg-input-number[name='hours'],
.elgg-input-number[name='etcs']
{
    width: 130px;
}

.selectwidth
{
    width: 500px;
}

.elgg-input-access[name='accesslevel_education00']
{
    width: 232px;
}


.elgg-input-url[name='companyurl'],
.elgg-input-url[name='moocurl'],
.elgg-input-url[name='educationurl'],
.elgg-input-url[name='certurl']
{
    width: 500px;
}

/*
 .elgg-input-email[name='Email']
{
    width: 500px;
}
*/

.gcconnex-work-experience-startdate,
.gcconnex-work-experience-enddate,
.gcconnex-work-experience-start-year,
.gcconnex-work-experience-end-year,
.gcconnex-education-startdate,
.gcconnex-education-enddate,
.gcconnex-education-start-year,
.gcconnex-education-end-year
{
    width: 100px;
}

.elgg-input-text[name='startdate'],
.elgg-input-text[name='enddate'] {
    width: 100px;
}
.elgg-input-text[name='program'] {
    width: 300px;
}
.elgg-input-text[name='fieldofstudy'] {
    width: 300px;
}
.elgg-input-text[name='degree'] {
    width: 300px;
}
.elgg-input-text[name='resultobtain'] {
    width: 300px;
}
.elgg-input-plaintext[name='competences'] {
    width: 500px;
    height: 90px;
}
.elgg-input-plaintext[name='activity'] {
    width: 500px;
    height: 80px;
}

.elgg-input-plaintext[name='descriptionname'] {
    width: 564px;
    height: 200px;
}

.elgg-input-plaintext[name='jobdescription'],
.elgg-input-plaintext[name='trainingd'],
.elgg-input-plaintext[name='thedescription'],
.elgg-input-plaintext[name='description'] {
    width: 500px;
    height: 80px;
}

.elgg-input-plaintext[name='jobdescription'] {
    width: 500px;
    height: 100px;
}

/*
 Colouring and styling for the "font-awesome" social media links on gcconnex profiles.
 */
.profile-icons {
    width: 24px;
    height: 24px;
}

.profile-detail-icon {
    vertical-align: bottom;
    padding-top: 5px;
    padding-right: 5px;
}

.social-media-icons {
    padding-right: 5px;
}

.fa {
}
.fa-google-plus {
    color: #DD4939;
}

.fa-facebook {
    color: #3C5B98;
}

.fa-instagram {
    color: #6C5245
}

.fa-twitter {
    color: #55AEEE;
}

.fa-linkedin {
    color: #1A86BC;
}

.fa-tumblr {
    color: #34465D;
}

.fa-pinterest {
    color: #CB1F28;
}

.fa-flickr {
    color: #0061C9;
}

.fa-youtube {
    color: #D82A27;
}

.fa-github {
    color: #333;
}

#textarea {
    width: 99%;
}
/*
 * Twitter typeahead.js styling
 */

.tt-suggestion-username {
    padding-bottom: 5px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    /*width: 396px;
    border: 2px solid #ccc; 
    border-radius: 8px;
    outline: none; comment by pessek*/
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 560px;/*500*/
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor,
.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggest-username {
    float: left;
    padding-left: 15px;
    max-width: 500px;
    overflow: hidden;
}
.pessek-suggest-username {
    float: left;
    padding-left: 5px;
    max-width: 500px;
    overflow: hidden;
}
.pessek-add-coauthor {
    float: right;
}
.tt-suggest-avatar {
    float: left;
    height: 20px;
}

.pessek-suggest-avatar {
    float: left;
    height: 5px;
}

.tt-suggestion p {
    margin: 0;
    max-width: 500px;
    overflow: hidden;
}

.gcconnex-avatar-in-list {
    float: left; /*float: right;*/
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 5px;
    position: relative;
}

.gcconnex-avatar-in-list-right {
    float: right;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 5px;
    position: relative;
}

.gcconnex-avatars-expand {
    float: right;
    height: 12px;
    min-width: 12px;/*width: 12px;*/
    padding: 4px;
}
.list-skills,
.list-avatars {
    overflow: hidden;

}

.work-experience-colleagues {
    margin-top: 2px;
}


.work-experience-colleagues .skills-list .gcconnex-avatar-in-list,
.colleagues-list .list-avatars .gcconnex-avatar-in-list {
    float: left;
}

.work-experience-colleagues .gcconnex-avatars-expand {
    float: none;
}

.remove-colleague-from-list {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.remove-coauthor-from-list {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.first-col {
    width: 200px;
}

td.left-col {
    text-align: right;
}

.gcconnex-profile-language-official-languages td {
    vertical-align: middle;
}

.colleague-suggest-field {
    float: left;
    margin-right: 20px;
}

.gcconnex-profile-languages-display {
    padding-right: 20px;
}

#profile-owner-block {
    position: relative;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
}

.avatar-project-publication {
    border-radius:15%;
}
.avatar-profile-page {
    width: 250px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.avatar-hover-edit {
    background-color: rgba(3,3,3, 0.5);
    bottom: 25px;
    color: white;
    display: none;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.avatar-hover-edit2 {
    background-color: rgba(3,3,3, 0.5);
    bottom: 25px;
    color: white;
    display: none;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.gcconnex-profile-field-title {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.gcconnex-portfolio-entry .hasDatepicker {
    width: 100px;
    margin-bottom: 0;
}

.gcconnex-portfolio-description {
    max-width: 500px;
    height: 100px;
}

.gcconnex-portfolio-label-datestamped {
    position: relative;
    left: 165px;
    padding-bottom: 10px;
}
.gcconnex-experience-certurl,
.gcconnex-portfolio-link {
    width: 500px;
}

.gcconnex-publications-link,
.gcconnex-projects-link{
    width: 500px;
}

.portfolio-title,
.portfolio-publicationdate,
.portfolio-link,
.portfolio-description {
    display: inline;
}

.gcconnex-profile-portfolio-display {
    padding-top: 10px;
}

.manager.tt-query,
.manager.tt-hint {
    width: 100%;
}

#manager-id {
    display: none;
}

#custom_fields_form,
#custom_fields_category_form,
#custom_fields_profile_type_form {
	width: 600px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.paraph-justify{
    text-align: justify;
    text-justify: inter-word
}

/*pessek avatar*/

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  /*background-color: #284c79; old by pessek*/
  background-image: linear-gradient(#04519b,#044687 60%,#033769);
  background-repeat: no-repeat;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;/*70px*/
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 35px;
  z-index: 1;/*z-index: 100;*/
}

.card .avatar img {
  width: 150px;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

.card-title {
    padding:5px 5px;
    /*font-size: 20px;*/
    color: white;
    line-height: 1;
    /*color: #262626;*/
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.badge-box{
    position:absolute;
    top: 0px
    left:50%; 
    width:88px; 
    height:88px;
    margin-left:-40px; /*margin-left:-50px;*/
    text-align:center;
    
}
.badge-box i{
    background:#5cb85c; /*background:#DFC717; */
    color:#fff; 
    border-radius:50%;  
    width:40px; 
    height:40px; 
    line-height:40px; 
    text-align:center; 
    font-size:20px;
    
}

.whitecolor{
    color: white;
}

.toto{
    vertical-align: middle;
}

.inthemiddle{
    margin-top: 50px;
    vertical-align: middle;
}

/* button animation */

.loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
animation: 2s linear 0s normal none infinite progress-bar-stripes;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
.btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* end button animation */

/* Tab bootstrap */

.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.shared-profile-changes{
    width:520px;
    display:inline-block;
    
}
.gcconnex-languages-langs,
.gcconnex-languages-level,
.gcconnex-skills-skill{
    width:560px;
}
.friendaction-pessek{
    /*position: relative;*/
    z-index: 2;
}
.button-delete-update-profile{
    padding-left:3px;
    padding-right:3px;
    padding-top:7px;
    vertical-align:top;
}

.linkedin_import  {
  /* This stretches the canvas across the entire hero unit */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  /* This positions the canvas under the text */
  z-index: 1;
}
.ajax_auf_loading{
    display: none; 
}

/* show more */

.b-description_readmore_wrapper {    
    display: flex;
    flex-flow: column wrap;
    max-width: none !important;
    width: 100%;
}

.b-description_readmore {
    width: 80%;
    position: relative;
    margin-bottom: 10px;
    line-height: 25px;
    text-align: left;
    box-sizing: border-box;
    padding: 0 15px;
}

.b-description_readmore_button {
    display: inline-block;
    color: white;
    width: 100px;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px #999;
    border-radius: 8px;
    padding: 2px 0; 
    cursor: pointer; 
    text-align: center;
    background: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
}

.b-description_readmore_button:hover {
    color: white;
    background: linear-gradient(#04519b,#044687 60%,#033769);
}

.b-description_readmore_ellipsis:after {    
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 25px;    
} 

/* show more end */
/*
 Doc
 - popup background has been changed from lightgray to #ADD8E6 in .gcconnex-portfolio-entry class
 - the following class has been hadded .gcconnex-skills-skill .gcconnex-languages-langs .gcconnex-languages-level {width:560px;}
 - we changed in .tt-dropdown-menu  width from 500px to 560px
 - we have added .shared-profile-changes in all shared on profile input
 - We have removed from .gcconnex-portfolio-entry margin: 8px; and we haved put float: left;
 - We have added '<br>'. before every field of: education.php
 - &nbsp;&nbsp; bofore checkbox
 - I have removed the following classes .gcconnex-portfolio-title , 
 - I have changed .gcconnex-portfolio-link from 500px to 570px I have added gcconnex-experience-certurl
 - I have changed .gcconnex-endorsements-input-coauthor from 500 to 570 and gcconnex-projects-link from 500 to 570
 - I  have changed selectwidth from 500 to 570
 - I have added wall-input-pessek in mod/socia_bootstrap_theme/views/default/socia_bootstrap_theme/css.php and mod/hypeWall/views/default/forms/wall/status.php  
 - I have added in height: 5em; thewire-textarea located in mod/thewire/views/default/thewire/css.php */
/* End Tab bootstrap */
